.prim-bg {
  background-color: #7fb735;
  background: #7fb735;
  color: white; }
  .prim-bg * {
    color: white !important; }

.logo-area a, .footer-logo {
  font-size: 20px;
  font-weight: bold; }

.post-btn {
  background: #246df8;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 3px;
  padding: 11px 20px; }

.post-btn a i {
  font-size: 1.2rem;
  margin-right: 10px; }

ul {
  padding: 0px;
  margin: 0px; }

.header-2 nav {
  position: static; }

.header-2 .transparent-nav .navbar-collapse .navbar-nav > li > a, .header-2 .cp-nav .navbar-collapse .navbar-nav.account-nav .login-popup button {
  color: gray; }

.header-2 .cp-nav.fluid-nav {
  width: 100%;
  padding: 0px; }

.header-2 .cp-nav .navbar-collapse .navbar-nav.job-browse li a.dropdown-toggle:hover {
  color: gray; }

.header-2 .cp-nav .navbar-collapse .navbar-nav .post-job a {
  background: #246df8;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 3px;
  padding: 11px 20px; }

.job-list .thumb img {
  max-width: 70px; }

.job-list .academic-title {
  font-size: 12px;
  font-weight: bold;
  background: #246df8;
  color: white;
  padding: 5px 10px;
  border-radius: 3px; }

.branches-box {
  margin-top: 5px; }
  .branches-box .branch-title {
    background-color: #7fb735;
    color: white;
    padding: 0px 5px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    display: inline-block; }

.title-and-info .download-resume a {
  background-color: #7fb735; }

.ver-badge {
  color: #7fb735;
  width: 30px; }

.profile-tab-content {
  padding: 30px 0px; }

#profile .title-body h1 {
  font-size: 35px; }

#profile .nav-tabs .nav-item.show .nav-link, #profile .nav-tabs .nav-link.active {
  font-weight: bold; }
