body {
  background-color: #edeff3;
  color: #2a3341; }

.prim-bg {
  background-color: #4e68ae;
  background: #4e68ae;
  color: white; }
  .prim-bg * {
    color: white !important; }

.logo-area a, .footer-logo {
  font-size: 20px;
  font-weight: bold; }

.post-btn {
  background: #246df8;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 3px;
  padding: 11px 20px; }

.post-btn a i {
  font-size: 1.2rem;
  margin-right: 10px; }

ul {
  padding: 0px;
  margin: 0px; }

.header-2 nav {
  position: static; }

.header-2 .transparent-nav .navbar-collapse .navbar-nav > li > a, .header-2 .cp-nav .navbar-collapse .navbar-nav.account-nav .login-popup button {
  color: gray; }

.header-2 .cp-nav.fluid-nav {
  width: 100%;
  padding: 0px; }

.header-2 .cp-nav .navbar-collapse .navbar-nav.job-browse li a.dropdown-toggle:hover {
  color: gray; }

.header-2 .cp-nav .navbar-collapse .navbar-nav .post-job a {
  background: #4e68ae;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 3px;
  padding: 11px 20px; }

.header-2 .cp-nav .navbar-collapse .navbar-nav .post-job a:hover {
  background-color: #486ccd; }

.job-list .thumb img {
  max-width: 70px; }

.job-list .academic-title {
  font-size: 12px;
  font-weight: bold;
  background: #246df8;
  color: white;
  padding: 5px 10px;
  border-radius: 3px; }

.branches-box {
  margin-top: 5px;
  padding-left: 24px; }
  .branches-box .branch-title {
    background-color: #4e68ae;
    color: white;
    padding: 0px 5px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    display: inline-block; }

.title-and-info .download-resume a {
  background-color: #4e68ae; }

.ver-badge {
  color: #4e68ae;
  width: 30px; }

.profile-tab-content {
  padding: 30px 0px; }

#profile .title-body h1 {
  font-size: 35px; }

#profile .nav-tabs .nav-item.show .nav-link, #profile .nav-tabs .nav-link.active {
  font-weight: bold; }

.space-20 {
  height: 20px; }

.user-statistic .fa {
  font-size: 40px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%); }

.information ul li span i.fas {
  color: #aaa;
  margin-right: 5px; }

.footer-widget.footer-newsletter .newsletter-form .button {
  background-color: #4e68ae; }

.breadcrumb-area .breadcrumb li a {
  color: #4e68ae; }

.breadcrumb-area .breadcrumb li a:hover {
  color: #486ccd; }

.course-info-box {
  padding: 25px;
  background-color: white;
  border-radius: 70px;
  box-shadow: 0px 13px 15px #e3e3e3; }

.enroll-btn {
  background-color: #7fb635;
  padding: 15px 30px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

.pull-right {
  float: right; }

.enroll-btn:hover {
  background-color: #79cd09;
  color: white; }

a {
  display: inline-block; }

a:hover {
  text-decoration: none; }

.left-border {
  border-left: 1px solid #a2a7b1; }

.icon-info {
  text-align: center; }
  .icon-info i {
    font-size: 40px;
    color: #4e68ae; }
  .icon-info .info {
    font-size: 25px;
    font-weight: bold; }
  .icon-info .sm {
    font-size: 15px; }

.center-ver {
  display: flex;
  align-items: center;
  justify-content: center; }

.main-box {
  background: #ffffff;
  padding: 30px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.03); }

.footer-bg {
  margin-top: 80px; }
